

/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: pink;
    color: #fff;
    padding: 10px 0;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1em;
}

nav ul li a:hover {
    text-decoration: underline;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    padding: 5px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
}

.search-bar button {
    padding: 5px 10px;
    background-color: pink;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: pink;
}

.book-list {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.book-item {
    display: flex;
    margin-bottom: 20px;
}

.book-item img {
    margin-right: 20px;
}

.book-item div {
    display: flex;
    flex-direction: column;
}

.book-item h2 {
    margin: 0 0 10px;
}

.book-item p {
    margin: 5px 0;
}

.book-item button {
    margin-top: 10px;
    padding: 5px;
    background-color: pink;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.book-item button:hover {
    background-color: pink;
}
